.franchisestaffdetail{
    /* margin-top: 3vh; */
    border: 2px solid #0aa506;
    border-radius: 5px;
    padding: 10px;
    table {
        border-collapse: collapse;
        width: 100%;
      }
      th {
        text-align: center;
        padding: 8px;
        font-size: 0.69rem;
        color: white;
        background-color: #0aa506;
      }
      td {
        text-align: center;
        padding: 8px;
        font-size: 0.69rem;
      }
      button {
        border: none;
        outline: none;
        padding: 7px 7px 7px 7px;
        border-radius: 10px;
        color: #fff;
        font-size: 0.7rem;
        transform: 0.3s ease;
        background-color: #0aa506;
      }
}

.frabchisestaff-editfileds{
  input{
    height: 4vh;
    width: 12vw;
    border-radius: 6px;
    border: none;
    outline: none;
    border: 1px solid #0aa506;
  }
  select{
    height: 4.5vh;
    width: 12vw;
    /* margin-left: 1vw; */
    border-radius: 6px;
    border: none;
    outline: none;
    border: 1px solid #0aa506;
  }
  button{
    color: white;
    background-color: #0aa506;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 0 10px;
    gap: 10px;
    height: 5vh;
    margin-top: 3vh;
  }
}