.masterusers-table {
  width: 70vw;
  margin-top: 1vh;
  border-collapse: collapse;
}
.masterusers-table th {
  font-size: 0.7rem;
  background-color: #0aa506;
  color: white;
  padding: 8px;
}
.masterusers-table td {
  font-size: 0.7rem;
  padding: 7px;
}
.admin-activeinactive {
}

.admin-activeinactive {
  border: none;
  outline: none;
  padding: 7px 10px 7px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 0.7rem;
  transform: 0.3s ease;
  background-color: #0aa506;
}

.admin-activeinactive:hover {
  background-color: #0d390c;
}
.master-user-action button {
  color: white;
  background-color: #0aa506;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
  height: 4vh;
}
.master-user-edit button {
  color: white;
  background-color: #0aa506;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
  gap: 10px;
  height: 4vh;
}
.master-user-users {
  button {
    color: white;
    background-color: #0aa506;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    gap: 10px;
    height: 4vh;
    margin-left: 1vw;
  }
  input {
    height: 4vh;
    width: 12vw;
    /* margin-left: 1vw; */
    border-radius: 6px;
    border: none;
    outline: none;
    border: 1px solid #0aa506;
  }
}
.modal-content-div {
  position: relative;
  display: flex;
  gap: 1vw;
}
/* Ensure that the error message has appropriate styling */
.error {
  color: red;
  font-size: 0.2rem;
}
