.banner-container {
  position: relative; /* Ensure positioning context for absolute/fixed elements */
  overflow: hidden; /* Hide overflowing content */
}
.banner-container .overlay{
position: absolute;
background: linear-gradient(0deg);
}
.heading-cont-banner {
    background-color: #2A8201;
    /* background-image: radial-gradient(radial-gradient(#2A8201, #2A8201)); */
    /* background-image: url('https://img.freepik.com/free-vector/gradient-monochromatic-abstract-background_52683-74300.jpg?w=900&t=st=1709267228~exp=1709267828~hmac=d8d510d32d632bd834df1375fc7f5d0b79917feebaa9c77ed7919a4f0b9636b0'); */
    /* background-image: url('https://cdn.pixabay.com/photo/2016/09/05/12/07/plant-1646388_1280.jpg'); */
    background-image: url('https://cdn.pixabay.com/photo/2016/09/05/12/07/plant-1646388_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    backdrop-filter:blur(90px);
    opacity: 5px;
    color: #fff;
    text-align: center;
    width: 100lvw;
    font-weight: 700;
    overflow: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  #fly-in-banner {
    font-size: 4em;
    margin: 40vh auto;
    height: 20vh;
    text-transform: uppercase;
    position: relative;
  }
  
  #fly-in-banner span {
    display: block;
    font-size: .4em;
    opacity: .8;
  }
  
  #fly-in-banner div {
    position: absolute;
    /* margin: 0vh 0; */
    margin-top: -8vh;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: switch 32s linear infinite;
  }
  
  #fly-in-banner div:nth-child(2) {
    animation-delay: 3s
  }
  
  #fly-in-banner div:nth-child(3) {
    animation-delay: 7s
  }
  
  #fly-in-banner div:nth-child(4) {
    animation-delay: 11s
  }
  
  #fly-in-banner div:nth-child(5) {
    animation-delay: 15s
  }
  
  #fly-in-banner div:nth-child(6) {
    animation-delay: 18s
  }
  
  #fly-in-banner div:nth-child(7) {
    animation-delay: 22s
  }
  
  @keyframes switch {
    0% {
      opacity: 0;
      filter: blur(20px);
      transform: scale(12)
    }
  
    3% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1)
    }
  
    10% {
      opacity: 1;
      filter: blur(0);
      transform: scale(.9)
    }
  
    13% {
      opacity: 0;
      filter: blur(10px);
      transform: scale(.1)
    }
  
    80% {
      opacity: 0
    }
  
    100% {
      opacity: 0
    }
  }