/* FranchiseAdmintable.css */

/* Table styles */
.franchise-details{
  display: flex;
}
.franchise-admin-rights{
  margin-left: 18.5%;
  margin-top: 5%;
}
.tabf {
    border-collapse: collapse;
    width:80vw ;
    border: 1px solid gray;
  }
  
  .tabf th {
    text-align: center;
    padding: 7px;
    font-size: 0.7rem;
    color: white;
    background-color: #0AA506;
  }
  .tabf td{
    text-align: center;
    padding: 7px;
    font-size: 0.7rem;
  }
  
  .farnchiseadmin-activebtn {
    border: none;
    outline: none;
    padding: 10px 7px 10px 7px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.7rem;
    transform: .3s ease;
    background-color: #0AA506;
  }
  
  .farnchiseadmin-activebtn:hover {
    background-color: #0d390c;
  }
  /* Sidebar styles */
  /* Assuming you have styling for the Sidebar component already */
  