
/* #footerlanding{

    width: 100lvw;
    overflow: hidden;
    padding: 0 2rem;
    background-color: whitesmoke;
  

    li{
        list-style: none !important;
    }

    a{
        text-decoration: none !important;
    }

}
.matrical span{
    color: black;
    text-align: center;
    justify-content: center;
} */

.wrapper {
  display: inline-flex;
  list-style: none;
  /* height: 120px; */
  width: 100%;
  /* padding-top: 40px; */
  font-family: "Poppins", sans-serif;
  /* justify-content: center; */
}

.wrapper .icon1 {
  color: green;
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip1 {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip1::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon1:hover .tooltip1 {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon1:hover span,
.wrapper .icon1:hover .tooltip1 {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip1,
.wrapper .facebook:hover .tooltip1::before {
  background: #073570;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip1,
.wrapper .twitter:hover .tooltip1::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip1,
.wrapper .instagram:hover .tooltip1::before {
  background: #e4405f;
  color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip1,
.wrapper .youtube:hover .tooltip1::before {
  background: red;
  color: #fff;
}

.footer-section-colimns-link{
  text-decoration: dotted;
}
.footer-logo-container img{
  height:15vh;
  width:20vw;
}

@media (max-width: 425px) {
  .footer-wrapper {
    padding: 10px;
  }

  .footer-section-one, .footer-section-two {
    flex-direction: column;
    align-items: center;

  }

  .footer-logo-container img {
    height: 13vh;
    width: 50vw;
  }

  .footer-icons .wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -6.5%;
  }

  .footer-section-columns {
    align-items: center;
    text-align: center;
    margin-left: -30.5%;
  }

  .footer-section-colimns-link {
    margin-bottom: 5px;
  }

  .wrapper .icon1 {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .wrapper .tooltip1 {
    font-size: 12px;
  }
}