
.hair-regrowth-conatiner{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.hair-regrowth1s{
    height: auto;
    background-color:#dcf1e5d2;
    /* background-color: rgb(177, 234, 192); */
    border-radius: 40px;
    width: 88%;
    margin-left: 80px;
    margin-top: -60px;
}

.img-icon1s{
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    margin-left: 8px;
    margin-top: 5px;
    
}
.image-bg1s{
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    background: transparent;
    border-radius: 50px;
    justify-content: center;
}

.image-bg1s:hover{
    cursor: pointer;
    background-color: rgb(225, 169, 178);
    box-shadow: 5px 5px 5px rgb(202, 104, 121);
}
.image-bg2s:hover{
    cursor: pointer;
    background-color: rgb(225, 169, 178);
    box-shadow: 5px 5px 5px rgb(202, 104, 121);
}
.bottom-content1s{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: -10px;
}

.heading-h2s{
    font-size: 20px;
    font-weight: 500;
}
.para-about1s{
    font-size: 15px;
    text-align: center;
}
.main-content-head1s{
    text-align: center;
    padding-top: 2rem;
}

.part1s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 24%;
}
.image-bg2s{
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    background: transparent;
    border-radius: 50px;
    justify-content: center;
    margin-left: 50px;
}

@media (max-width: 425px){
    .hair-regrowth1s{
        width: 99%;
        margin-left: 5px;
        margin-top: 3%;
    }
    .heading-h2s{
        font-size: 15px;
        font-weight: 500;
    }
    .para-about1s{
        font-size: 10px;
        text-align: center;
    }
    .part1s{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 23%;
    }
}