.hair-regrowth-container {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hair-regrowth {
    height: auto;
    background-color: #dcf1e5d2;
    border-radius: 40px;
    width: 88%;
    margin-left: 80px;
    margin-top: -60px;
}

.img-icon {
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    margin-left: 8px;
    margin-top: 5px;
}

.image-bg {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    background: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-bg:hover {
    cursor: pointer;
    background-color: rgb(225, 169, 178);
    box-shadow: 5px 5px 5px rgb(202, 104, 121);
}

.bottom-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: -10px;
}

.heading {
    font-size: 20px;
    font-weight: 500;
}

.para-about {
    font-size: 15px;
    text-align: center;
}

.main-content-head {
    text-align: center;
    padding-top: 2rem;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 23%;
    margin-bottom: 20px;
}

/* Mobile view */
@media (max-width: 768px) {
    .hair-regrowth {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    .heading {
        font-size: 18px;
    }

    .para-about {
        font-size: 13px;
    }

    .part {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .hair-regrowth {
        width: 99%;
        margin-left: 5px;
        margin-top: 3%;
    }

    .heading {
        font-size: 20px;
    }

    .para-about {
        font-size: 15px;
    }

    .part {
        width: 90%;
        margin-bottom: 20px;
    }
}
