.super-regtoatl{
  display: flex;
}
.super-regright{
  margin-left: 20%;
}
.super-regright-1{
  margin-left: 22%;
}
.superflex-high{
display: flex;
flex-direction: row;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  /* background-color: #1a1a1a; */
  color: #0000;
  border: 1px solid #0AA506;
  gap: 50px;
}
.super-flex{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.super-flex label {
  position: relative;
}

.super-flex label .input1_rp {
  /* background-color: #333; */
  color: black;
  /* width: 100%; */
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.super-flex label .input1_rp + span {
  color: #0AA506;
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.5em;
  cursor: text;
  transition: 0.3s ease;
}
/* .input2_rp{
  color: #0AA506;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.5em;
  cursor: text;
  transition: 0.3s ease;
} */

.super-flex label .input1_rp:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.super-flex label .input1_rp:focus + span,
.super-flex label .input1_rp:valid + span {
  color: #0AA506;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input1_rp {
  font-size: medium;
}

.submit_rp {
  margin-left: 30%;
  margin-top: 2vh;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #0AA506;
}

.submit_rp:hover {
  background-color: #0d390c;
}

@keyframes pulse {
  from {
    transsuper-flex: scale(0.9);
    opacity: 1;
  }

  to {
    transsuper-flex: scale(1.8);
    opacity: 0;
  }
}