.Frame{
    border: 2px solid #0AA506;
    height: 60%;
    width: 80%;
    padding: 5% 5% 1% 5%;
    margin: 6% 5% 0% 5%;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    
    align-items: center;
}
.fr{
    position: absolute;
    margin-top: 2%;
    color: #0AA506;
    margin-left: 38%;
}
.h2{
    position: absolute;
    margin-top: -3.5%;
    color: #0AA506;
}
.Admin{
    
    margin-top: -36%;
    margin-left: 69%;
    color: #0AA506;

}
.flex1{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
  }
  
  
  .form label {
    position: relative;
  }
  
  .form label .input1 {
    background-color: #f8f7f7;
    color: #0AA506;
    height: 30%;
    width: 135%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid #0AA506;
    border-radius: 10px;
  }
  
  .form label .input1 + span {
    color: #0AA506;
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input1:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input1:focus + span,
  .form label .input1:valid + span {
    color: #0AA506;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .flex2{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 3.75%;
    margin-left: 69%;
  }
  .flex3{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
    margin-left: 69%;
  }
  .flex4{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.5%;
    margin-left: 69%;
  }
  .flex5{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
    margin-left: 69%;
  }
  .flex6{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
    margin-left: 69%;
  }
  .flex1a{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: -30.5%;
    margin-left: 35%;
  }
  .flex1b{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
    margin-left: 35%;
  }
  .flex1c{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
    margin-left: 35%;
  }
  .flex1d{
    display: flex;
    
    width: 100%;
    gap: 6px;
    margin-top: 2.75%;
    margin-left: 35%;
  }

  .submit1{
    position: absolute;
    border: 0 solid red;
    height: 8%;
    width: 15%;
    background-color: #0AA506;
    border-radius: 10px;
    margin-left: 75%;
    margin-top: 42%;
    margin-bottom: 10%;
    color: #f8f7f7;
    font-size: 1rem;
    transition: 1s;
  }

  .submit1:hover{
    background-color: black;
    color: azure;
  }