/* Category.css */

.total-tcategory {
    display: flex;
  }
  

  .treat-cat-right{
    margin-left: 28%;
  }
  /* Sidebar styling */
  /* .sidebar {
    width: 200px; 
    background-color: #f0f0f0;
    padding: 20px;
  } */
  
  /* Main content styling */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  .cat-total-con{
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 30%;
  }
  .h111 {
    margin-bottom: 20px;
  }
  
  .cat-form {
    margin-bottom: 20px;
    padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
  width: 50vw;
  }
  
  .cat-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .cat-form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category_submit-btn {
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    transform: .3s ease;
    background-color: #0AA506;
  }
  .category_submit-btn:hover{
    background-color: #0d390c;
  }
  .tab-cat {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .tab-cat th {
    text-align: center;
    padding: 8px;
    font-size: 0.7rem;
    color: white;
    background-color: #0AA506;
  }
  .tab-cat td{
    text-align: center;
    padding: 8px;
    font-size: 0.7rem;
  }


  .treatcat-btn {
    border: none;
    outline: none;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.7rem;
    transform: .3s ease;
    background-color: #0AA506;
  }
  .treatcat-btn:hover {
    background-color: #0d390c;
  }

  .category_list_heading{
    margin: 2.5% 0;
  }

  .paginationss {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

  
.paginationss span {
  padding: 5px 5px;
  color: #0AA506;

}
.pageactive-page {
  background-color: #e0e0e0;
  cursor: pointer;
}