/* Category.css */

.total-tcategory {
    display: flex;
  }
  
  /* Sidebar styling */
  .sidebar {
    width: 200px; /* Adjust width as needed */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  /* Main content styling */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .cat-form {
    margin-bottom: 20px;
    padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
  width: 50vw;
  }
  
  .cat-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .cat-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category_submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tabc {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabc th,
  .tabc td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .tabc th {
    background-color: #f0f0f0;
  }
  
  .tabc td button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .tabc td button{
    width: 8vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }