/* .addfr-total {
  margin: 5vh 6vw 0px 6vw;
  border: 2px solid #0aa506;
  border-radius: 10px;
  padding: 4px 20px 4px 20px;
}
.addfr-franchise-Reg {
  height: 100vh;
  width: 100vw;
}
.addfr-franchise-Logo {
  display: flex;
  padding: 2vh 6vw 0px 6vw;
  align-items: center;
}
.addfr-franchise-column {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
}
.addfr-input-wrap {
  display: flex;
  margin-top: 1.5vh;
}
.addfr-input {
  outline: none;
  height: 7.5vh;
  width: 30vw;
}
.addfr-input-wrap label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 14px;
  position: absolute;
  top: -0px;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease all;
  color: #0aa506;
}
.addfr-input-wrap {
  position: relative;
  width: 22vw;
  height: 8vh;
}
.addfr-input:focus + label,
.addfr-input:valid + label {
  top: 2px;
  left: 1px;
  padding: 0 5px 0 5px;
  font-size: 10px;
}
.addfr-franchise-detail-columns {
  display: flex;
  gap: 1.5vw;
}
.addfr-franchise-admin {
  display: flex;
  gap: 6vw;
}
.addfr-franchise-details {
  padding: 2vh 0 0vh 6vw;
  color: #0aa506;
}
.addfr-franchise-details-admin {
  padding: 2vh 0 3.3vh 0vw;
  margin-top: -10vh;
  color: #0aa506;
}
.addfr-submit-button {
  margin-left: 33vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 15vw;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0aa506;
  color: white;
  font-size: large;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  border-radius: 6px;
}
.addfr-image img {
  height: 10vh;
  width: 10vw;
}
.addfr-Registration h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  letter-spacing: 0.5px;
  margin-left: 20.5vw;
  color: #0aa506;
}
@media (max-width: 1264px) and (min-width: 700px) {
  .addfr-franchise-details-admin {
    padding-bottom: 2.5vh;
  }
}
@media (max-width: 720px) {
  .addfr-Registration h2 {
    margin-left: 12vw;
  }
}
@media (max-width: 640px) {
  .addfr-franchise-details-admin {
    padding-bottom: 2.5vh;
  }
  .addfr-franchise-details-admin {
    margin-top: 0.1vh;
    padding-top: 0.5vh;
  }
  .addfr-franchise-details {
    display: flex;
    justify-content: center;
  }
  .addfr-franchise-Reg {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95vw;
  }
  .addfr-image image {
    height: 8vh;
    width: 10vw;
  }
  .addfr-franchise-Logo {
    padding: 10;
    display: flex;
    align-items: center;
  }
  .addfr-franchise-admin {
    display: flex;
    flex-direction: column;
  }
  .addfr-admin {
    display: flex;
    justify-content: center;
  }
  .addfr-Registration h2 {
    font-size: xx-large;
    margin-left: 7vw;
  }
  .addfr-input-wrap {
    width: 35vw;
  }
  .addfr-submit-button {
    margin-left: 22vw;
    width: 30vw;
  }
}
@media (max-width: 521px) {
  .addfr-Registration h2 {
    font-size: x-large;
    margin-left: 5vw;
  }
  .addfr-image image {
    height: 6vh;
    width: 8vw;
  }
  .addfr-submit-button {
    margin-left: 20vw;
    width: 30vw;
  }
}
@media (max-width: 400px) {
  .addfr-Registration h2 {
    font-size: large;
    margin-left: 5vw;
  }
  .addfr-image image {
    height: 6vh;
    width: 15vw;
  }
  .addfr-franchise-detail-columns {
    display: flex;
    flex-direction: column;
  }
  .addfr-input-wrap {
    width: 60vw;
  }
  .addfr-input {
    width: 80vw;
  }
  .addfr-submit-button {
    margin-left: 19vw;
    width: 30vw;
  }
} */



.addfr-total {
  margin: 5vh 6vw 0px 6vw;
  border: 2px solid #0aa506;
  border-radius: 10px;
  padding: 4px 20px 4px 20px;
}
.addfr-franchise-Reg {
  height: 100vh;
  width: 100vw;
}
.addfr-franchise-Logo {
  display: flex;
  padding: 2vh 6vw 0px 6vw;
  align-items: center;
}
.addfr-franchise-column {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
}
.addfr-input-wrap {
  display: flex;
  margin-top: 1.5vh;
}
.addfr-input {
  /* border: none; */
  outline: none;
  height: 7.5vh;
  width: 30vw;
}
.suggestion-list1 {
  height: 13vh;
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 20px); /* Adjust width for padding */
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  li {
    padding: 8px;
    cursor: pointer;
  }
  li:hover {
    background-color: #f0f0f0;
  }
}
.suggestion-list1::-webkit-scrollbar {
  width: 5px;
  background-color: #e0f7fa;
}

.suggestion-list1::-webkit-scrollbar-track {
  background: #e0f7fa;
  border-radius: 10px;
}

.suggestion-list1::-webkit-scrollbar-thumb {
  background-color: #0aa506;
  border-radius: 20px;
}

.suggestion-list1::-webkit-scrollbar-thumb:hover {
  background-color: #1ae313;
}
.addfr-input-wrap label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 14px;
  position: absolute;
  top: -0px;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease all;
  color: #0aa506;
}
.addfr-input-wrap {
  position: relative;
  width: 22vw;
  height: 8vh;
}
.addfr-input:focus + label,
.addfr-input:valid + label {
  top: 2px;
  left: 1px;
  padding: 0 5px 0 5px;
  font-size: 10px;
}
.addfr-franchise-detail-columns {
  display: flex;
  gap: 1.5vw;
}
.addfr-franchise-admin {
  display: flex;
  gap: 6vw;
}
.addfr-franchise-details {
  padding: 2vh 0 0vh 6vw;
  color: #0aa506;
}
.addfr-franchise-details-admin {
  padding: 2vh 0 3.3vh 0vw;
  margin-top: -10vh;
  color: #0aa506;
}
.addfr-submit-button {
  margin-left: 33vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 15vw;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0aa506;
  color: white;
  font-size: large;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  border-radius: 6px;
}
.addfr-image img {
  height: 10vh;
  width: 10vw;
}
.addfr-Registration h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  letter-spacing: 0.5px;
  margin-left: 20.5vw;
  color: #0aa506;
}
.font-size-error {
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 1264px) and (min-width: 700px) {
  .addfr-franchise-details-admin {
    padding-bottom: 2.5vh;
  }
}
@media (max-width: 720px) {
  .addfr-Registration h2 {
    margin-left: 12vw;
  }
}
@media (max-width: 640px) {
  .addfr-franchise-details-admin {
    padding-bottom: 2.5vh;
  }
  .addfr-franchise-details-admin {
    margin-top: 0.1vh;
    padding-top: 0.5vh;
  }
  .addfr-franchise-details {
    display: flex;
    justify-content: center;
  }
  .addfr-franchise-Reg {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95vw;
  }
  .addfr-image image {
    height: 8vh;
    width: 10vw;
  }
  .addfr-franchise-Logo {
    padding: 10;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .addfr-franchise-admin {
    display: flex;
    flex-direction: column;
  }
  .addfr-admin {
    display: flex;
    justify-content: center;
  }
  .addfr-Registration h2 {
    font-size: xx-large;
    margin-left: 7vw;
  }
  .addfr-input-wrap {
    width: 35vw;
  }
  .addfr-submit-button {
    margin-left: 22vw;
    width: 30vw;
  }
}
@media (max-width: 521px) {
  .addfr-Registration h2 {
    font-size: x-large;
    margin-left: 5vw;
  }
  .addfr-image image {
    height: 6vh;
    width: 8vw;
  }
  .addfr-submit-button {
    margin-left: 20vw;
    width: 30vw;
  }
}
@media (max-width: 400px) {
  .addfr-Registration h2 {
    font-size: large;
    margin-left: 5vw;
  }
  .addfr-image image {
    height: 6vh;
    width: 15vw;
  }
  .addfr-franchise-detail-columns {
    display: flex;
    flex-direction: column;
  }
  .addfr-input-wrap {
    width: 60vw;
  }
  .addfr-input {
    width: 80vw;
  }
  .addfr-submit-button {
    margin-left: 19vw;
    width: 30vw;
  }
}
