/* @import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container621s {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.consult621s {
    text-align: center;
    width: 100%;
}

.card621s {
    position: relative;
    height: 400px;
    width: 300px;
    margin: 10px; 
}

.img-block621s {
    transition: transform .5s ease-in-out;
}

.container621s:hover .img-block621s {
    transform: translate(160px, -5px);
}

.img-block621s > img {
    height: 100%;
    width: 100%;
}

.info-block621s {
    background-color: #111;
    color: #FFF;
    transition: transform .5s ease-in-out;
}

.container621s:hover .info-block621s {
    transform: translate(-160px, 5px);
}

.info621s {
    padding: 20px;
}

.info621s > p {
    margin-top: 10px;
} */

@import url('https://fonts.googleapis.com/css?family=Kanit');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */
*{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.tot-contain621ss {
    margin: 3% 0;
    margin-bottom: 6%;
}
.consul-spn{
    color: #2A8201;
}
.container621s {
    position: relative;
    height: 300px;
    width: 250px;
}

.tot-contain621s {
    display: flex;
    gap: 20%;
    justify-content: center;
}

.heading-consult621s {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: -8%;
    color: #000;
    /* text-decoration: underline  rgb(23, 167, 52); */
    
}

.card621s {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.img-block621s {
    left: 0;
    top: 0;
    transform: translate(-5px, -5px);
    z-index: 2;
    transition: left .5s ease-in-out .5s,
        transform .5s ease-in-out,
        z-index .5s ease-in-out .2s;
}

.container621s:hover>.img-block621s {
    left: -160px;
    transform: translate(160px, -5px);
    z-index: 1;
}

.img-block621s>img {
    height: 100%;
    width: 100%;
    border-radius: 9px;
}

.info-block621s {
    font-family: sans-serif;
    left: 0;
    z-index: 1;
    transition: left .5s ease-in-out .5s,
        transform .5s ease-in-out,
        z-index .5s ease-in-out .2s;
}

.container621s:hover>.info-block621s {
    font-family: sans-serif;
    left: 155px;
    transform: translate(-160px, 5px);
    z-index: 2;
}

.info-block621s {
    background-color: #FFF;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #000;
    border: .5px solid #2A8201;
    border-radius: 9px;
    box-shadow: 0px 26px 58px 0px rgba(0,0,0,0.22),
    -13px 15px 12px -11px rgba(79,135,14,1);
}

.info621s {
    padding: 25px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.info621s h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.desig {
    font-weight: 600;
}

.info621s>p {
    margin-top: 10px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media screen and (max-width: 768px) {
    .tot-contain621s {
        display: flex;
        /* flex-direction: column; */
        gap: 10%;
        justify-content: center;
    }
}

@media screen and (max-width:425px) {
    .tot-conatiner621s {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}