.faq-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 4% auto;
  gap: 10%;

}

.faq-column {
  flex: 1;

}

.faq-item {
  margin-bottom: 16px;
}

.question {
  cursor: pointer;
  font-weight: bold;
}

.answer {
  margin-top: 8px;
  font-weight: lighter;
  text-align: justify;
}

.head-faq632s {
  text-align: center;
  color: #2A8201;
  margin-bottom: 3%;
}

.tot-faq632s {
  margin-top: 4%;
  margin-bottom: 0%;
  height: 100%;
}

.body-faq632s {
  margin-top: 7%;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-vector/green-curve-frame-template-vector_53876-113965.jpg?t=st=1708743842~exp=1708747442~hmac=15e1a27a06e8d6ec164e3e0b13b22bbf8bc247027660ccf8db933489f6c0d413&w=900");
}