/* body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
} */

.container749s{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 10%;
}

.container749s .card749s{
    position: relative;
    cursor: pointer;
}


.container749s .card749s .face749s{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container749s .card749s .face749s.face1749s{
    position: relative;
    background: #2A8021;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container749s .card749s:hover .face749s.face1749s{
    background: #2A8021;
    transform: translateY(0);
    color: #fff;
}

.container749s .card749s .face749s.face1749s .content749s{
    opacity: 1;
    transition: 0.5s;
}

.container749s .card749s:hover .face749s.face1749s .content749s{
    opacity: 1;
}
.feed-642s{
    text-align: center;
    color: #2A8021;
    text-decoration: underline #1e7614;
}

.container749s .card749s .face749s.face1749s .content749s .img-749s{
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container749s .card749s .face749s.face1749s .content749s .tit-749s{
    margin: 10px 0 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.container749s .card749s .face749s.face2749s{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(68, 74, 69, 0.6);
    transform: translateY(-100px);
}

.container749s .card749s:hover .face749s.face2749s{
    transform: translateY(0);
}

.container749s .card749s .face749s.face2749s .content749s .para-749s{
    margin: 0;
    padding: 0;
}

.container749s .card749s .face749s.face2749s .content749s .anchor-749s{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container749s .card749s .face749s.face2749s .content749s a:hover{
    background: #333;
    color: #fff;
}