.backgroundwwo{
    width: 90%;
    border-radius: 2rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-left: 5%;
    height: 80vh;
}
.wrappertotal{
    width: 100%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    justify-items: center
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');


html,
.whattotal {
	width: 100%;
	/* height: 100%; */
	/* display: flex; */
	justify-content: center;
	align-items: center;
	/* background-color: rgb(34, 34, 34); */
}




.wrapper {
    margin-top: 2%;
    margin-left: 6%;
	display: flex;
	flex-wrap: wrap;
	/* gap: 40px; */
}

.cardx {
	position: relative;
	width: 350px;
	height: 350px;
}

.face {
	position: absolute;
	width: 100%;
	height: 90%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}

.cardx .front {
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #fff;
}

.cardx .front img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-h1 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 95px;
	line-height: 45px;
	color: #fff;
	background: rgba(0, 0, 0, .4);
	text-align: center;
}

.cardx .back {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: perspective(600px) rotateY(180deg);
	background: whitesmoke;
	padding: 15px;
	color: #006733;
	text-align: center;
	box-shadow: 0 5px 10px #fff;
}

.cardx .back .text-h2 {
	font-size: 30px;
	letter-spacing: 2px;
}

.cardx .back .text-p {
	/* letter-spacing: 1px; */
    text-align: justify;
}

.cardx:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.cardx:hover .back {
	transform: perspective(600px) rotateY(360deg);
}


@media only screen and (max-width: 536px) {
	.backgroundwwo {
		width: 90%;
		border-radius: 2rem;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		margin-left: 5%;
		margin-top: 6%;
		height: 62vh;
	}
	.wrapper {
		/* margin-top: 0%; */
		margin-left: 10%;
		/* display: flex; */
		/* gap: 40px; */
	}
}