/* .nav-total-conatiner{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 99;
} */



.Whyhead1{
  position: relative;


  h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -60%);
    font-size: 400%;
    font-weight: 800;
    color: #003F13;
  }

}

.whyheadtext1{
  margin-top: -28%;
  text-align: center;
  h1{
    font-size: 300%;
    font-weight: 800;
    color: #003F13;
  }
  h6{
    
    font-size: 150%;
    font-weight:600;
    color: #003F13;
  }
}


.whyheadtext2{
 
  text-align: center;
  h1{
    font-size: 300%;
    font-weight: 800;
    color: #003F13;
  }
  h6{
    
    font-size: 120%;
    font-weight:400;
    color: #003F13;
  }
}

.whyBestResults1{

  padding:2rem 3rem ;
  display: flex;
  flex:20;
  gap: 1rem;
  background: color #f4f4f4;
  width: 100%;
  overflow: hidden;


}

.whyBestResults1-subdiv1{
  flex:6;
  display:flex;
  flex-direction: column;
  gap: 2rem;
 
}
.whyBestResults1-subdiv2{
  flex:8;
 
}


.whyBestResults1-subdiv1-sub1{
  display: flex;
  flex:12;
 border-radius: 5px;
 background-color:#f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  gap: .5rem;
  align-items: center;
  padding: 1rem;
}
.whyBestResults1-subdiv1-sub1:hover{
  box-shadow: -5px -6px 7px -2px green;
}
.whyBestResults1-subdiv1-sub1imgcon {
  
  flex:3;
  img{
    height: 50%;
    width: 50%;
    overflow: hidden;
    border-radius:50%;

  }
}
.whyBestResults1-subdiv1-sub1imgtext{
  flex:9;
  h6{
    font-weight: 400;
  }
}



.whyusvariationcon{
  padding: 0 2rem 0 1rem;
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
 margin-bottom: 1rem;
}

.whyusvariationcon-sub1{
  flex: 30%;
  display: flex;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease;
}

.whyusvariationcon-sub1:hover{
  box-shadow: -5px -6px 7px -2px green;

}

.whyusvariationcon-sub1img{
  overflow: hidden;
    height: 70%;
    width: 100%;
  img{
    width: 100%;
    margin-left: -15%;
  }
 

}
.whyusvariationcon-sub1text{
  h6{
    font-weight: 400;
  }
}

@media (max-width: 790px){

  .whyusvariationcon-sub1{
    flex: 40%;  
  }
}






@media (max-width: 534px) {

  .Whyhead1{
    h1{
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 200%;
    }
  }
  .whyheadtext1{
    margin-top: -15%;
    text-align: center;
    h1{
      font-size: 200%;
      font-weight: 800;
      color: #003F13;
    }
    h6{
      
      font-size: 100%;
      font-weight: 600;
      color: #001e09;
    }
  }
  .whyheadtext2{
   
    text-align: center;
    h1{
      font-size: 200%;
      font-weight: 800;
      color: #003F13;
    }
    h6{
      
      font-size: 100%;
      font-weight: 600;
      color: #001e09;
    }
  }
  .whyBestResults1{
    flex-direction: column;
    padding:1rem;
  }


  .whyusvariationcon-sub1{
    flex: 90%;  
  }

}

